[Bb]in/
[Oo]bj/
artifacts/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Ll]og/
[Ll]ogs/

.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
*.rsuser

.idea/
*.DotSettings.user

*.nupkg
*.snupkg
packages/
!packages/build/
*.nuget.props
*.nuget.targets

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml

publish/
*.publishsettings
*.pubxml
*.pubxml.user

appsettings.*.local.json
*.local.json
.env
.env.*
secrets.json

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride

*.swp
*.swo
*~